<header class="primary-navigation">
  <nav class="nav">
    <div
      #toggleButton
      class="icon menu-icon material-icons"
      (click)="toggleNavbar()"
    >
      menu
    </div>
    <div class="nav__left">
      <a to="">MintMissy</a>
    </div>
    <div class="nav__right">
      <ul
        class="nav__right__links"
        appClickElsewhere
        (clickElsewhere)="closeNavbar()"
        [clickElsewhereExceptions]="[toggleButton]"
        [ngClass]="{ active: isNavbarActive }"
      >
        <a to="" (click)="closeNavbar()"
          ><li class="nav-link active">Home</li></a
        >
        <a to="" (click)="closeNavbar()">
          <li class="nav-link">Projects</li>
        </a>
        <a to="" (click)="closeNavbar()">
          <li class="nav-link">Contact</li>
        </a>
      </ul>
      <div class="icon settings-icon material-icons">settings</div>
    </div>
  </nav>
</header>
