<div class="home-container">
  <div class="home-hero">
    <div class="home-hero__content">
      <h1>Dawid 'MintMissy'</h1>
      <h2>Frontend Developer</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum iste,
        unde rerum saepe impedit labore!
      </p>
      <button class="btn">About Me</button>
    </div>
    <div class="home-hero__image">
      <img src="./assets/images/home/home-hero.png" alt="" />
    </div>
  </div>
  <div class="about"></div>
  <div class="skillset"></div>
  <div class="bigger-projects"></div>
  <div class="social-media"></div>
  <div class="contact"></div>
</div>
