$content-padding: 2rem;

.home-hero,
.about {
  max-width: 1500px;
  margin-inline: auto;
}

.home-hero,
.about {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 2rem;
  padding-inline: $content-padding;
  gap: 2rem;
}

.home-hero {
  @media screen and (min-width: 769px) {
    flex-direction: row;
    align-items: center;
    margin-top: 5rem;
  }

  &__content {
    @media screen and (min-width: 769px) {
      text-align: left;
    }
    text-align: center;

    h1 {
      font-size: var(--fs-medium);
      line-height: 1.4rem;
      font-weight: normal;
      color: var(--text-clr-1);
    }

    h2 {
      font-size: var(--fs-title);
      font-weight: 700;
      color: var(--text-clr-2);
    }

    p {
      @media screen and (min-width: 769px) {
        width: 100%;
      }

      @media screen and (min-width: 900px) {
        width: 50ch;
      }
      margin-bottom: 1rem;
      max-width: min(100%, 50ch);
      font-size: var(--fs-regular);
      color: var(--text-clr-1);
      margin-inline: auto;
    }
  }

  &__image {
    @media screen and (max-width: 769px) {
      margin-bottom: 2rem;
    }

    img {
      @media screen and (min-width: 769px) {
        margin-right: 0;
        max-width: min(100%, 32rem);
      }
      max-width: min(100%, 20rem);
      margin-inline: auto;
    }
  }
}

.about-container {
  margin-top: 4rem;
  padding-block: 2rem;
  background-color: rgba($color: #000000, $alpha: 0.25);

  @media screen and (min-width: 769px) {
    margin-top: 8rem;
    padding-block: 4rem;
  }
}

.about {
  @media screen and (min-width: 769px) {
    flex-direction: row-reverse;
    align-items: start;
  }

  &__content {
    @media screen and (min-width: 769px) {
      text-align: left;
    }
    text-align: center;

    h1 {
      font-size: var(--fs-title);
      font-weight: 700;
      color: var(--text-clr-2);
      margin-bottom: 1rem;
    }

    p {
      @media screen and (min-width: 769px) {
        width: 100%;
      }

      @media screen and (min-width: 900px) {
        width: 50ch;
      }
      margin-bottom: 1rem;
      max-width: min(100%, 50ch);
      font-size: var(--fs-regular);
      color: var(--text-clr-1);
      margin-inline: auto;
    }
  }

  &__image {
    img {
      @media screen and (min-width: 769px) {
        margin-left: 0;
        max-width: min(100%, 20rem);
      }
      max-width: min(100%, 20rem);
      margin-inline: auto;
    }
  }
}

.skillset {
  margin-top: 2rem;
  .technologies {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
    list-style: none;
    max-width: 100%;

    .technology {
      width: 150px;
      padding: 1rem;
      background-color: var(--background-clr-3);
      border-radius: 0.5rem;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
      transition: transform 0.25s;

      img {
        margin-inline: auto;
        max-width: 100%;
        height: 5rem;
        object-fit: contain;
        object-position: center;
      }

      &-title {
        border-top: 1px solid var(--background-clr-4);
        margin-top: 1rem;
        padding-top: 0.75rem;
        font-weight: 500;
        color: var(--text-clr-2);
        text-align: center;
        font-size: 1.1rem;
      }
    }

    .technology:hover {
      transform: translateY(-1rem);
      transform: scale(1.1);
    }
  }
}
