<div class="home-container">
  <div class="home-hero">
    <div class="home-hero__content">
      <h1 #homeHeroH1>Dawid 'MintMissy'</h1>
      <h2 #homeHeroH2>Frontend Developer</h2>
      <p #homeHeroP>
        Hello! I'm passionate and curious about the world and people that
        surround me.
      </p>
      <a href="https://github.com/MintMissy">
        <button #homeHeroBtn class="btn">My Github</button>
      </a>
    </div>
    <div class="home-hero__image">
      <img src="./assets/images/home/home-hero.png" alt="" aria-hidden="true" />
    </div>
  </div>
  <div class="about-container">
    <div class="about">
      <div class="about__content">
        <h1>Some words about me</h1>
        <p>
          I'm 19 years old Computer Science student. I have been into coding for
          4 years now. Over this time I learned a lot of skills - particularly
          algorithmic thinking. I've been coding websites, web applications and
          even a 2D and 3D games.
          <br />
          <br />
          I love to learn new things, meet new people and expand the boundaries.
          I believe that everything is possible and can be done in many
          different ways.
        </p>
      </div>
      <div class="about__image">
        <img
          src="./assets/images/home/home-hero.png"
          alt=""
          aria-hidden="true"
        />
      </div>
    </div>
  </div>

  <div class="skillset">
    <div class="skillset__content">
      <h1>My abilities and skill set</h1>
      <p>
        After a long journey with thousand lines of code I've stuck to
        typescript. Currently I'm writing frontend applications with HTML, SCSS
        based on Angular framework. In the past I had experience with Java,
        Python and C#.
      </p>
    </div>

    <div class="skillset__image">
      <img src="./assets/images/home/home-hero.png" alt="" aria-hidden="true" />
    </div>
  </div>

  <ul class="technologies">
    <li class="technology">
      <img src="./assets/images/home/angular.png" alt="" aria-hidden="true" />
      <p class="technology-title">Angular</p>
    </li>
    <li class="technology">
      <img
        src="./assets/images/home/typescript.png"
        alt=""
        aria-hidden="true"
      />
      <p class="technology-title">Typescript</p>
    </li>
    <li class="technology">
      <img src="./assets/images/home/sass.png" alt="" aria-hidden="true" />
      <p class="technology-title">SCSS</p>
    </li>
    <li class="technology">
      <img src="./assets/images/home/python.png" alt="" aria-hidden="true" />
      <p class="technology-title">...</p>
    </li>
  </ul>

  <div class="bigger-projects" id="projects">
    <h1>Featured Projects</h1>
    <div class="bigger-projects__cards">
      <ng-container *ngFor="let project of featuredProjects; let i = index">
        <app-project-card
          class="project-card"
          [projectData]="project"
        ></app-project-card>
      </ng-container>
    </div>
  </div>
  <div class="social-media"></div>
  <div class="contact"></div>
</div>
