<div class="home-container">
  <div class="home-hero">
    <div class="home-hero__content">
      <h1>Dawid 'MintMissy'</h1>
      <h2>Frontend Developer</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum iste,
        unde rerum saepe impedit labore!
      </p>
      <button class="btn">Check my Projects</button>
    </div>
    <div class="home-hero__image">
      <img src="./assets/images/home/home-hero.png" alt="" aria-hidden="true" />
    </div>
  </div>
  <div class="about-container">
    <div class="about">
      <div class="about__content">
        <h1>Some words about me</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos, debitis
          commodi corporis sed temporibus dolore voluptatum unde doloribus neque
          ab dignissimos praesentium exercitationem assumenda aspernatur.
          <br />
          <br />
          Eaque cupiditate impedit nihil mollitia fugit voluptas placeat veniam,
          architecto ducimus consequatur praesentium exercitationem.
        </p>
      </div>
      <div class="about__image">
        <img
          src="./assets/images/home/home-hero.png"
          alt=""
          aria-hidden="true"
        />
      </div>
    </div>
  </div>

  <div class="skillset">
    <ul class="technologies">
      <li class="technology">
        <img src="./assets/images/home/html.png" alt="" />
        <p class="technology-title">HTML</p>
      </li>
      <li class="technology">
        <img src="./assets/images/home/python.png" alt="" />
        <p class="technology-title">Python</p>
      </li>
      <li class="technology">
        <img src="./assets/images/home/sass.png" alt="" />
        <p class="technology-title">Sass</p>
      </li>
    </ul>
  </div>
  <div class="bigger-projects"></div>
  <div class="social-media"></div>
  <div class="contact"></div>
</div>
