@import "_css_reset.scss";
:root {
  --primary-clr: hsl(206, 82%, 58%);
  --primary-clr--light: hsl(206, 82%, 63%);
  --primary-clr--bright: hsl(206, 82%, 70%);

  --background-clr-1: hsl(227, 24%, 7%);
  --background-clr-2: hsl(225, 22%, 10%);
  --background-clr-3: hsl(226, 20%, 13%);
  --background-clr-4: hsl(229, 14%, 22%);

  --text-clr-1: hsl(0, 0%, 100%);
  --text-clr-2: hsl(0, 0%, 97%);
  --text-clr-3: hsl(0, 0%, 92%);
  --text-clr-4: hsl(0, 0%, 86%);

  --fs-small: 0.8rem;
  --fs-regular: 1rem;
  --fs-medium: 1.25rem;
  --fs-title: 1.75rem;

  @media screen and (min-width: 480px) {
    --fs-small: 0.95rem;
    --fs-regular: 1.1rem;
    --fs-medium: 1.5rem;
    --fs-title: 2rem;
  }
}

body {
  background-color: var(--background-clr-2);
  font-family: "Roboto", sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.underline-indicator {
  position: relative;
}

.underline-indicator::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  width: 0%;
  margin-inline: auto;
  transition: width 0.15s;
  background-color: var(--text-clr-1);
}

.underline-indicator:hover::after {
  width: 100%;
}

.btn {
  background-color: var(--primary-clr);
  color: var(--background-clr-2);
  font-weight: 500;
  border: none;
  padding: 0.25em 1.5em;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.1s;
}

.btn:hover {
  background-color: var(--primary-clr--light);
}

.btn:active {
  background-color: var(--primary-clr--bright);
}

.btn--stroked {
  background-color: unset;
  border: 1px solid var(--background-clr-4);
  color: var(--text-clr-1);
  font-weight: 400;
}

.btn--stroked:hover,
.btn--stroked:active {
  background-color: unset;
}

.btn--stroked:hover {
  border-color: var(--text-clr-4);
}

.btn--stroked:active {
  border-color: var(--text-clr-1);
}
