<div class="card">
  <div class="card__banner">
    <img src="data:image/png;base64,{{ projectData.cardBanner }}" alt="" />
  </div>
  <div class="card__content">
    <header class="card__content__header">
      <!-- <a href=""> -->
      <h1>{{ projectData.title }}</h1>
      <!-- </a> -->
      <ul>
        <li>
          <img src="./assets/images/languages-icons/{{projectData.primaryLanguage}}-icon.png" alt="{{projectData.primaryLanguage}}" />
        </li>
      </ul>
    </header>
    <p class="card__content-last-update">
      Last Update: {{ projectData.lastUpdate }}
    </p>
    <p class="card__content-description">
      {{ projectData.shortDescription }}
    </p>
  </div>
  <div class="card__cta">
    <a
      *ngIf="projectData.showcaseLink !== ''"
      href="{{ projectData.showcaseLink }}"
    >
      <button class="btn">View</button>
    </a>
    <a
      *ngIf="projectData.repositoryLink !== ''"
      href="{{ projectData.repositoryLink }}"
    >
      <button class="btn btn--stroked">Repository</button>
    </a>
  </div>
</div>
