<div class="card">
  <div class="card__banner">
    <img src="./assets/images/home/banner.png" alt="" />
  </div>
  <div class="card__content">
    <header class="card__content__header">
      <a href="">
        <h1>Example Title</h1>
      </a>
      <ul>
        <li>
          <img src="./assets/images/languages-icons/java-icon.png" alt="java" />
        </li>
        <li>
          <img src="./assets/images/languages-icons/html-icon.png" alt="java" />
        </li>
      </ul>
    </header>
    <p class="card__content-last-update">Last Update: 12 Dec 2021</p>
    <p class="card__content-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, earum
      minima placeat error odio voluptas ab? Minima molestias maxime quibusdam.
    </p>
  </div>
  <div class="card__cta">
    <a href="">
      <button class="btn">View</button>
    </a>
    <button class="btn btn--stroked">Share</button>
  </div>
</div>
