<div class="card">
  <div class="card__banner">
    <img src="./assets/images/home/banner.png" alt="" />
  </div>
  <div class="card__content">
    <header class="card__content__header">
      <a href="">
        <h1>{{ projectData.title }}</h1>
      </a>
      <ul>
        <li>
          <img src="./assets/images/languages-icons/java-icon.png" alt="java" />
        </li>
        <li>
          <img src="./assets/images/languages-icons/html-icon.png" alt="java" />
        </li>
      </ul>
    </header>
    <p class="card__content-last-update">
      Last Update: {{ projectData.lastUpdate }}
    </p>
    <p class="card__content-description">
      {{ projectData.shortDescription }}
    </p>
  </div>
  <div class="card__cta">
    <a href="{{ projectData.showcaseLink }}">
      <button class="btn">View</button>
    </a>
    <a
      *ngIf="projectData.repositoryLink !== ''"
      href="{{ projectData.repositoryLink }}"
    >
      <button class="btn btn--stroked">Repository</button>
    </a>
  </div>
</div>
